@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #34f07c;
    --secondary-color: #0bd37f;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--primary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}

nav h1 {
    color: black;
}

nav a {
    color: black;
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.site-width {
    max-width: 1400px;
    margin: auto;
}

.home {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    height: 100vh;
    margin: auto;
}

.profic-pic-container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 60px;
}

.profic-pic-container img {
    /* height: 20.5rem; */
    width: 16.5rem;
    border-radius: 50%;
}



.bio {
    /* width: 25rem; */
    padding: 0.625rem;
    border-radius: 6px;
    margin: auto;
    padding: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bio-hey {
    margin-bottom: var(--bottom-margin);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.bio-name {
    margin-bottom: var(--bottom-margin);
    justify-content: center;
    font-size: 60px;
}


.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    font-size: 20px;
}


.bio-social-account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;

}
    
.bio-social-account img {
    width: 80px;
}

.card:hover {
    transform: scale(1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}


.contactme-btn {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--secondary-color);
    border: 1.6px solid black;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.contactme-btn:hover {
    background-color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    color: white;
    cursor: pointer;
}


.skills h1 {
    color: rgb(30, 122, 7);
    font-size: xxx-large;
    text-align: center;
    margin: 15px;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-container {
    display: block;
    width: 150px;
    height: 170px;
    margin: 25px;
    border-radius: 16px;
    box-shadow: 1px 0px 15px 2px rgb(212, 209, 209);
}

.skill-logo-container {
    display: flex;
    width: auto;
    height: 140px;
    margin: auto;
    /* background-color: #a17a69; */
    justify-content: center;
    text-align: center;

}

.skill-logo-container img {
    width: 120px;
    height: 120px;
    margin: auto;
}


.skill-name-container {
    text-align: center;
    justify-content: center;
    font-family: var(--font-family)
}


/* Projects */
#projects h1 {
    color: rgb(30, 122, 7);
    font-size: xxx-large;
    text-align: center;
    margin: 15px;
    overflow-y: scroll;
}

.project-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background: url("background.jpg"); */
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;


    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    overflow: hidden;
}

.card-image img {
    max-width: 100%;
    height: 100%;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(26, 146, 245);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background: rgb(255, 7, 110); */
    background: rgb(26, 146, 245);
}

.card-stats .stat {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.card-stats .border {
    /* border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87); */
    border-left: 1px solid rgb(2, 116, 247);
    border-right: 1px solid rgb(2, 116, 247);
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .value sup {
    font-size: 12px;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card:hover {
    transform: scale(1.30);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.gotoproject-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    font-weight: var(--bold-font);
    transition: var(--transition);
}



.j2pt-stats .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}


#contact h1 {
    color: rgb(30, 122, 7);
    font-size: xxx-large;
    text-align: center;
    margin: 15px;
}

.contact-form-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 5px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.contact-seperator {
    width: 1px;
    height: 500px;
    bottom: 1px solid gray;
    background-color: gray;
}

.contact-my-details {
    padding: 15px;
    margin: 25px;
}

.myprofile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact-form {
    padding: 10px;
    margin: 25px;
}

.my-details {
    margin-top: 5%;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: black;
}

.contact-form-container textarea {
    font: 1em sans-serif;
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: none;
    border: 1.6px solid black;
    font-size: 0.875rem;
    outline: none;
}

.follow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(197, 195, 195);
    color: black;
    border-radius: 5px;

}

.follow-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: gray;
    color: black;
    border-radius: 5px;

}

.input-field::placeholder {
    /* padding: 0.5rem; */
    color: black;
    opacity: 50%;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1.6px solid black;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

footer {
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    /* background: rgb(34, 193, 195);
    background-image: linear-gradient(135deg, #FFF3B0 10%, #CA26FF 100%); */
    background-color: var(--primary-color);
}

@media screen and (max-width:1410) {
    .site-width {
        max-width: auto;
    }
}

@media screen and (max-width:1150px) {
    .project-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        /* background: url("background.jpg"); */
        overflow: hidden;
    }
    .card {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 250px 250px 90px;
        grid-template-areas: "image" "text" "stats";

        border-radius: 18px;
        background: white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
        font-family: roboto;
        text-align: center;


        transition: 0.5s ease;
        cursor: pointer;
        margin: 30px;
    }
}

@media screen and (max-width:950px) {
    /* .bio-social-account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: auto;
    }
    
    .social-account-btn {
        width: auto;
      
    }
    
    .social-account-btn img {
        width: 80px;
    }
    
    .social-account-btn img:hover {
        width: 90px;
        cursor: pointer;
    } */
    
}

@media screen and (max-width:800px) {
    .skills-container {
        flex-direction: column;
    }
}

@media screen and (max-width:750px) {
    .contact-my-details {
        display: none;
    }

    .contact-seperator {
        display: none;
    }

    .profic-pic-container {
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: 40px;
    }
    
    .profic-pic-container img {
        /* height: 20.5rem; */
        width: 12.5rem;
        border-radius: 50%;
    }
    
}

@media screen and (max-width:650px) {
    nav {
        padding: 1.5rem 1rem;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }
}

@media screen and (max-width:500px) {
    .bio-hey {
        margin-bottom: var(--bottom-margin);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    .bio-name {
        font-size: 40px;
    }
    .bio-social-account {
        display: flex;

    }
        
    .bio-social-account img {
        width: 60px;
    }
    
    .card:hover {
        transform: scale(1);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    }
    
}


@media screen and (max-height:750px) {
    .home {
        height: auto;
    }
    .bio-text-extra{
        display: none;
    }

}
