@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: rgb(88, 228, 88);
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 250, 252);
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ul {
    list-style-type: none
}


a{
    text-decoration: none;
    color: #30363d;
}

a:hover{
    color: var(--primary-color);
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1350px;
}

.navbar {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 2.25rem;
}

.site-name {
    font-size: 30px;
    margin: 20px;
}

.navbar-link a {
    padding: 15px;
    color: black;
    font-size: larger;

}

.project-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.project-list a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.project-list a:hover {
    background-color: #ddd;
}

.home {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100vh;
    /* background-color: grey; */
    text-align: center;
    align-items: center;
}

.profile-pic {
    width: 18%;
    border-radius: 50%;
    padding: 30px;
}

.heyMessage {
    font-size: 60px;
}

.myName {
    padding: 20px 20px 20px 20px;
}

.myName strong {
    font-size: 70px;
}

.small-bio {
    font-size: x-large;
    font-family: var(--font-family);
}

.contact-logos {
    display: flex;
    width: 40%;
    height: 80px;
    margin: auto;
    padding: auto;
    margin-bottom: 50px;
}

.contact-logos a {
    width: 80px;
    margin: auto;
}

.contact-logo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px;
}

.contact-logo:hover {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.contact-btn {
    padding: 10px 50px;
    background-color: var(--primary-color);
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.3s;
    color: black;
    box-shadow: 1px 0px 15px 2px rgb(212, 209, 209);

}

.contact-btn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}



/* projects */

#projects {
    display: inline-block;
    margin: 0;
    /* background-color: aquamarine; */
    width: 100%;
    text-align: center;
    align-items: center;
}

.doted-line hr {
    transform: rotate(90deg);
    width: 3px;
    color: gray;
}

.project-container1,
.project-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-container-left {
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: 70px;
    border-radius: 10px;
}

.terminal {
    text-align: left;
    justify-content: left;
    display: inline-block;
    width: 450px;
    height: 300px;
    margin: 15px 7px 5px 7px;
    background-color: #30363d;
    backdrop-filter: blur(27.1828px);
    border-radius: 6px;
    border: 1px solid rgb(80, 76, 76);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 0px 15px 2px rgb(100, 110, 112);
}

.terminal-text {
    width: 440px;
    height: 280px;
    padding: 15px;
    color: white;
    overflow: hidden;
    font-family: "SF Mono", "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

}


.project-img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.project-card-left {
    width: 400px;
    margin-left: auto;
    margin-right: 5px;
}

.project-info-right {
    display: inline-block;
    width: 400px;
    margin-right: auto;
    text-align: left;
    margin-left: 30px;
}

.project-card-right {
    width: 400px;
    margin-right: auto;
    margin-left: 5px;
}

.project-info-left {
    display: inline-block;
    width: 400px;
    margin-left: auto;
    text-align: right;
    margin-right: 30px;
}

.project-info img {
    /* margin-left: 25px; */
    height: 50px;
}



/* Skills */


.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-container {
    display: block;
    width: 150px;
    height: 170px;
    margin: 25px;
    border-radius: 16px;
    box-shadow: 1px 0px 15px 2px rgb(212, 209, 209);
}

.skill-logo-container {
    display: flex;
    width: auto;
    height: 140px;
    margin: auto;
    /* background-color: #a17a69; */
    justify-content: center;
    text-align: center;

}

.skill-logo-container img {
    width: 120px;
    height: 120px;
    margin: auto;
}


.skill-name-container {
    text-align: center;
    justify-content: center;
    font-family: var(--font-family)
}



/* contact */

.contact-form-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 5px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.contact-seperator {
    width: 1px;
    height: 500px;
    bottom: 1px solid gray;
    background-color: gray;
}

.contact-my-details {
    padding: 15px;
    margin: 25px;
}

.myprofile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact-form {
    padding: 10px;
    margin: 25px;
}

.my-details {
    margin-top: 5%;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: black;
}

.contact-form-container textarea {
    font: 1em sans-serif;
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: none;
    border: 1.6px solid black;
    font-size: 0.875rem;
    outline: none;
}

.follow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(197, 195, 195);
    color: black;
    border-radius: 5px;

}

.follow-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: gray;
    color: black;
    border-radius: 5px;

}

.input-field::placeholder {
    /* padding: 0.5rem; */
    color: black;
    opacity: 50%;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1.6px solid var(--primary-color);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

footer {
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    /* background: rgb(34, 193, 195);
    background-image: linear-gradient(135deg, #FFF3B0 10%, #CA26FF 100%); */
    background-color: var(--primary-color);
}

