@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root{
    --primary-color: rgb(88, 228, 88);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 250, 252);
}

.navbar {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: justify;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 2.25rem;
}

.site-width {
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
.site-name {
  font-size: 30px;
  margin: 20px;
}

.navbar-link a {
  padding: 15px;
  color: black;
  font-size: larger;
}

.project-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.project-list a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.project-list a:hover {
  background-color: #ddd;
}

/* introduction  */

.intro {
  text-align: center;
  margin-top: 40px;
}

.profile_pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.intro p {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro strong {
  font-size: 65px;
}

.intro-text {
  font-size: 22px;
  padding: 5px;
}

.contact-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.contact-logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.contact-logo:hover {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.about-btn {
  padding: 10px 50px;
  background-color: rgb(88, 228, 88);
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s;
  color: black;
  box-shadow: 1px 0px 5px 2px rgb(212, 209, 209);
}

.about-btn:hover {
  background-color: green;
  /* border: 2px solid; */
  color: white;
  cursor: pointer;
}

.about-me{
    margin-top: 50px;
}

.about-me h1 {
    text-align: center;
    justify-content: center;
    font-size: 70px;
    color: var(--primary-color);
}

.about-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 35px;
  margin: 30px;
  /* border: 1px solid; */
  border-radius: 30px;
  box-shadow: 1px 0px 15px 2px rgb(223, 221, 221);
}
.about-me img{
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

.about-bio{
  font-size: 35px;
  margin: 60px;
}

#projects h1{
  text-align: center;
  font-size: 60px;
  color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

